<h1>Listing All Eployee Details</h1>

<p>
    <%= link_to "Add Employee Details", new_employee_path %>
</p>

<table>
<tr>
<th>Name</th>
<th>City</th>
<th>Mobile</th>
</tr>

<% @employees.each do |employee| %>
<tr>
<td><%= employee.employee_name %></td>
<td><%= employee.city %></td>
<td><%= employee.mobile %></td>
<td><%= link_to 'Edit', edit_employee_path(employee) %></td>
<td><%= link_to 'Show', employee_path(employee) %></td>
<td><%= link_to 'Delete', employee_path(employee), method: :delete, data: {confirm:"Are you sure you want to delete?"} %></td>
</tr>
<% end %>
</table>