<h2 align="center">Listing All Employee Details</h2
<%= render'layouts/pagination'%>
<div class="well col-xs-8 col-xs-offset-2">

<table class="table table-striped" id="tab2">
    
<tr><h4 class="center"><strong><th>Name</th> <th>City</th> <th>Mobile</th> </strong></h4><th><span></th><th><span></th><th><span></th></tr>

<% @employees.each do |employee| %>
<tr>
<td><%= employee.employee_name %></td>
<td><%= employee.city %></td>
<td><%= employee.mobile %></td>
<td><%= link_to 'Edit', edit_employee_path(employee) %></td>
<td><%= link_to 'Show', employee_path(employee) %></td>
<td><%= link_to 'Delete', employee_path(employee), method: :delete, data: {confirm:"Are you sure you want to delete?"} %></td>
</tr>
<% end %>
</table>
</div>
